<% fillings = ["Avocado", "Carnitas", "Al Pastor", "Pescado", "Mushroom"] %>

<h1>Tacos!!!</h1>
<p>We have a lot of delish tacos.</p>


<ul>
<% for filling in fillings %>
<li><%= filling %></li>
<% end %>

</ul>